* {
    list-style-type: none;
    font-family: 'Architects Daughter', cursive;
    margin: 10px 5px;
}

body {
    
    background-image: url("images/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.divider {
    width: 100%;
    background-color:grey;
    height: 30px; 
}

.divider p {
    float: right; 
    font-size: 10px;
    color: black;
}

/* .new {
    background-color: turquoise;
} */


.new img {
    border: black solid 10px;
    margin-left: 30px;
   
}

.new p {
    width: 30%;
    font-size: 25px;
    line-height: 40px;
}

.new h2 {
    text-align: center;
    font-size: 35px;
}


.flexbox-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
}
    


h1 {
    background-color: #b3b0ac;
    text-align: center;
    width: 100%;
    height: 110px;
    padding: 0 20px 0 10px;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.third {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #c46c56;
    border: solid black 5px;
    
}
img {
    width: 350px;
    height: 300px;
    border: black 5px solid;
}

.new img {
    width: 150px;
    height: 100px;
}

.second {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   
   
}



.questions  {
   
    text-align: center;
    width: 30%;
    height: 280px;
    padding: 10px;
    color: honeydew;
    
}

.questions p {
    line-height: 35px;
    font-size: 20px;
}

.questions h3 {
    color: black;
}

footer {
    background-color: rgb(65, 62, 62);
    width: 100%;
    height: 100px;
    position: sticky;
}


footer img {
    width: 70px;
    height: 70px;
    float: right;
    border: solid pink 10px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 12px;
    transition-duration: 3s;
    transition-property: transform;
}

.flex2 {
    color: white;
}

.flex3 ul li{
    color: white;
}

footer img:hover {
    transform: rotate(40deg);
}

footer p {
    color: whitesmoke;
    float: right;
    margin-top: 45px;
    margin-right: 12px;
    box-shadow: 30px 10px 2px white;
}


#HCB_comment_box #hcb_form_content,
#HCB_comment_box #hcb_form_email,
#HCB_comment_box #hcb_form_name,
#HCB_comment_box #hcb_form_website {
  background-color:#d5e1f0;
  color: #080808;
}

#HCB_comment_box textarea {
    height:200px;

}

.likes {
    height: 100px;
    width: 100px;
    
}

#HCB_comment_box blockquote {
    color:red; 
}

#HCB_comment_box .text-blur {
    color:red;
  }
  #HCB_comment_box .text-focus {
    color:darkred;
  }

  #HCB_comment_box .hcb-icon {
      display: none;
      height: 100px;
      width: 100px;
  }

  #HCB_comment_box .submit {
    background:none; /* Clear twitter bootstrap style. */
    background-color:green;
    border:1px solid darkgreen;
    color: white;
  }